$borderColor: #fff;
$hoverColor: rgb(251, 251, 223);
$hoverFontColor: rgb(151, 151, 151);

.cellActive {
  background-color: rgb(207, 96, 152) !important;
  color: white;
}

@mixin backgroundGradAnimation {
  animation: animatedgradient 5s ease alternate infinite;
  background-size: 300% 300%;
  @keyframes animatedgradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

.previewCellActive {
  background: linear-gradient(60deg, #ee9714, rgb(104, 28, 175));
  color: white;
  @include backgroundGradAnimation;
}

.previewCellChosen {
  background: linear-gradient(60deg, #ff5f6d, #ffc371);
  color: white;
  @include backgroundGradAnimation;
}
.cellText {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tokenWrap {
  display: flex;
  flex-direction: column;
  background-color: rgb(27, 27, 27, 0.5);
  border-radius: 2.5rem;
  margin-top: 2rem;
  padding-bottom: 2rem;
  margin-left: auto;
  justify-content: center;
  margin-right: auto;
  width: 100%;
}
.invitationText {
  align-self: center;
  font-family: "Nunito", sans-serif;
  color: white;
  font-size: 1.7rem;
}
.tokenUrlInput {
  align-self: center;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1.35rem;
  &::selection {
    background: rgba(8, 8, 8, 0.733);
  color: white;
  }
  &:focus-visible {
    border: none;
    outline: none;
  }
  border-radius: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 90%;
  padding-left: 2rem;
}
.playerTable {
  color: white;
  margin-top: 2.5rem;
  height: 45rem !important;
  margin-bottom: 5rem;
  width: 100%;
  .table {
    word-break: break-word;
    height: 4rem !important;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  background: rgb(39, 41, 40);
  margin-left: auto;
  margin-right: auto;
  thead {
    font-size: 2.2rem;
    font-family: "PT Sans Caption";

    .turn {
      background: linear-gradient(60deg, #ff5f6ce7, #ffbc5ece) !important;
    }

    tr {
      background: linear-gradient(60deg, #8c4fdbce, #476aaae7);
      td {
        padding: 2rem;
      }
    }
  }
  border: 1rem solid rgb(27, 27, 27);

  tbody {
    display: grid;
    height: 40rem;
    justify-content: center;
    overflow-y: scroll;
    text-align: center;
    font-size: 25px;
  }
  &:nth-last-of-type(1) {
    border-left: 0px;
  }
}

.turnIndication {
  font-size: 4rem;
}

.playerTableWrap {
  margin-top: 5rem;
  display: flex;
  width: 100%;

  margin-right: auto;
}

.playerTable {
  overflow: hidden;
}
