.gameRow {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  width: 35rem;
  &:nth-of-type(5) {
    border-bottom: 4px solid black;
  }
}

.gameCell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  width: 7rem;
  font-size: 5rem;
  font-family: "PT Sans Caption", "sans-serif";
  font-weight: 100;
  border-right: 4px solid black;
  border-top: 4px solid black;
  &:first-child {
    border-left: 4px solid black;
  }
  &:last-child {
    border-right: 4px solid black;
  }
  &:hover {
    background-color: rgb(68, 73, 69);
    color: white;
    transition: all 0.3s ease;
  }
  cursor: pointer;
}
.cellActive {
  background-color: rgb(95, 120, 189);
  color: white;
}

@mixin backgroundGradAnimation {
  animation: animatedgradient 5s ease alternate infinite;
  background-size: 300% 300%;
  @keyframes animatedgradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

.previewCellActive {
  background: linear-gradient(60deg, #4ca1af, #c4e0e5);
  color: white;
  @include backgroundGradAnimation;
}

.previewCellChosen {
  background: linear-gradient(60deg, #ff5f6d, #ffc371, #ff5f6d, #ffc371);
  color: white;
  @include backgroundGradAnimation;
}
.cellText {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.gameFieldGrid {
  margin-top: calc(25% - 8rem);
}

.playerTable {
  width: 30rem;
  height: 35rem;
  color: white;
  > table {
    table-layout: fixed !important;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  background: rgb(68, 73, 69);

  thead {
    font-size: 2.2rem;
    .turn {
      background: rgb(214, 107, 65) !important;
    }
    font-family: "PT Sans Caption";

    tr {
      background: rgb(97, 97, 97);
      td {
        padding: 2rem;
      }
    }
  }
  border: 1rem solid rgb(97, 97, 97);

  tbody {
    text-align: center;
    font-size: 25px;
  }
  &:nth-last-of-type(1) {
    border-left: 0px;
  }
}

.turnIndication {
  font-size: 2rem;
}

.playerTableWrap {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  display: flex;
}
