.historyWrap {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  color: white;
  font-size: 5rem;
}
.gameBar {
  &:first-of-type {
    margin-top: 5rem;
  }
  margin-top: 4rem;
  height: 10rem;
  background-color: rgba(44, 44, 44, 0.6);
  border-radius: 2.5rem;
  color: white;
  font-family: "Nunito", "sans-serif";
  margin-bottom: 2rem;
  align-items: center;
  justify-content: space-around;
}
.link{
  text-decoration: none;
}
.username{
  font-size: 2rem;
  width:20rem;
}
.gameId {
  font-size: 2rem;
  &::after {
    content: ".";
    color: white;
  }
}

.initialWord {
  font-size: 2rem;
}

.score {
  font-size: 2rem;
  font-weight: 600;
}
