.key {
  font-size: 4rem;
  width: 6rem;
  height: 6rem;
  margin: 0.25rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(236, 226, 226);
  border: 0.15rem solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  font-weight: 500;
  border-radius: 1.5rem;
  -webkit-box-shadow: 4px 4px 27px -5px rgba(34, 60, 80, 0.12);
  -moz-box-shadow: 4px 4px 27px -5px rgba(34, 60, 80, 0.12);
  box-shadow: 4px 4px 27px -5px rgba(34, 60, 80, 0.12);
  transition: 0.2s ease all;
  color: rgb(0, 0, 0);
  &:hover {
    background-color: rgba(73, 73, 73, 0.877);
    color: white;
  }

  &:active {
    scale: 112%;
  }
}

.turnText {
  margin-left: 3rem;
  color: white;
  font-size: 2.25rem;
  font-family: "Nunito";
  font-weight: 700;
}
.buttonsWrap {
  width: 100%;
  gap: 2rem;
  padding-bottom: 1rem;
  justify-content: center;
  align-items: center;
}

.keyboardWrap {
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 5rem;
  background: rgba(41, 40, 40, 0.568);
  border-radius: 2.5rem;
}
@mixin btn-darken($bg) {
  transition: 0.2s ease all;
  &:hover {
    background-color: darken($bg, 12%);
  }
}

.deleteBtn {
  margin-right: 1.25rem;
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem;
  width: 12rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.2rem;
  color: white;
  border: 0.25rem solid rgba(255, 255, 255, 0.3);
  background-color: rgba(182, 56, 17, 0.514);
  @include btn-darken(rgba(122, 37, 26, 0.781));
}
.submitBtn {
  @include btn-darken(#1a2f63c5);
  margin-left: auto;
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem;
  width: 12rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.2rem;
  color: white;
  border: 0.25rem solid rgba(255, 255, 255, 0.3);
  background-color: #132c7086;
}

.keyboardRow {
  width: 100%;
  display: flex;
  justify-content: center;
}

.keyboard {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
