.navbarText {
  font-family: 'Nunito', 'sans-serif';
  font-size: 2rem;
  color: white;
}

.navbar {
  align-items: center;
  justify-items: center;
  z-index: 1;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: rgb(41, 41, 41, 0.5);
  height: 6rem;
  a {
    text-decoration: none;
    color: white;
  }
}

.logo {
  font-family: "Amatic SC";
  font-weight: 800;
  font-size: 5rem !important;
  &:hover {
    cursor: pointer;
  }
}

.navWrap {
  max-width: 800px;
  width: 100%;
  padding-left: 2rem; 
  padding-right: 2rem;
  height: 100%;
}
