.navbarText {
  font-size: 2.2rem;
  color: white;  
}

.navbar {
  align-items: center;
  justify-items: center;
  z-index: 1;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: rgb(41, 41, 41, 0.5);
  height: 6rem;
  a {
    text-decoration: none;
    color: white;  
  }
}

.logo {
  font-family: "Amatic SC";
  font-weight: 800;
  font-size: 5rem !important;
  &:hover {
    cursor: pointer;
  }  
}

.navWrap {
  max-width: 800px;
  width: 100%;
  height: 100%;
}
